Repository tadashi0713/circleci-demo-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: test-backend, test-frontend

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: backend/.circleci/config.yml
          mapping: |
            backend/.* test-backend true
      - path-filtering/filter:
          base-revision: main
          config-path: frontend/.circleci/config.yml
          mapping: |
            frontend/.* test-frontend true

delete
  .circleci/config.yml
Due: none

edit frontend
  frontend/src/App.js
Due: test-frontend

backend
  backend/app.py
Due: test-backend

add workflow
  .circleci/config.yml
Due: none

continue-config
  .circleci/config.yml
  .circleci/continue-config.yml
  frontend/.circleci/config.yml
Due: test-frontend

fix
  .circleci/continue-config.yml
Due: none

Update test_unit.py
  backend/test/test_unit.py
Due: test-backend

Update App.js
  frontend/src/App.js
Due: test-frontend
